@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$font-size-170-50: clamp(3.13rem, calc(-0.13rem + 13.87vw), 10.63rem);
$font-size-80-50: clamp(3.13rem, calc(2.31rem + 3.47vw), 5.00rem);
$font-size-50-20: clamp(1.25rem, calc(0.44rem + 3.47vw), 3.13rem);
$font-size-30-16: clamp(1.00rem, calc(0.62rem + 1.62vw), 1.88rem);
$font-size-20-16: clamp(1.00rem, calc(0.89rem + 0.46vw), 1.25rem);
$font-size-20-14: clamp(0.88rem, calc(0.71rem + 0.69vw), 1.25rem);
$font-size-18-14: clamp(0.88rem, calc(0.77rem + 0.46vw), 1.13rem);
$font-size-16-13: clamp(0.81rem, calc(0.73rem + 0.35vw), 1.00rem);

$font-size-16: 1rem;
$font-size-14: 0.875rem;
$font-size-13: 0.813rem;



body {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: $font-size-16;
    font-weight: 400;
    line-height: 30px;
    color: var(--dark-500);
    background-color: var(--light);
}

:root {
    --light: #fff;
    --blue-100: #F9FAFF;
    --blue-150: #DCEFFF;
    --blue-500: #42A5F5;
    --blue-700: #008AF9;
    --blue-900: #05529E;

    --red-100: #FFDDDC;
    --red-300: #EC5350;
    --red-500: #E53935;


    --green-100: #C8F3E5;
    --green-500: #4CD7AB;
    --green-700: #1EFFB8;

    --dark-300: #939393;
    --dark-400: #4B4B4B;
    --dark-500: #232323;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

h1,
h2,
h3,
p {
    margin: 0;
}


video,
img {
    max-width: 100%;
    display: block;
    height: auto;
}

.section-padding {
    padding: 70px 0;
}

.text-gradient {
    color: var(--blue-500);
}


.btn-base {
    @extend %link-defaults;
    display: inline-block;
    border-radius: 5px;
    color: var(--light);
    border: 1px solid transparent;
    text-transform: capitalize;

    outline: none;
    box-shadow: none;

    @extend %base-transition;

    &:hover {
        transform: translateY(-8px);
        box-shadow: none;
        outline: none;
    }
}

.btn-blue-white {
    background-color: var(--blue-500);

    &:hover,
    &:focus {
        color: var(--blue-500);
        background-color: transparent;
        border: 1px solid var(--blue-500);
    }
}

.btn-green-red {
    background-color: var(--green-500);

    &:hover,
    &:focus {
        color: var(--light);
        background-color: var(--red-300);
        border: 1px solid var(--red-300);
    }
}

.btn-blue-red {
    background-color: var(--blue-500);

    &:hover,
    &:focus {
        color: var(--light);
        background-color: var(--red-300);
        border: 1px solid var(--red-300);
    }
}


.btn-light-blue {
    color: var(--blue-500);
    border: 1px solid var(--blue-500);

    &:hover,
    &:focus {
        color: var(--light);
        background-color: var(--blue-500);
        border: 1px solid var(--blue-500);
    }
}

.btn-red-green {
    color: var(--light);
    background-color: var(--red-500);

    &:hover,
    &:focus {
        color: var(--light);
        background-color: var(--green-500);
    }
}

.btn-white-red {
    color: #003763;
    background-color: var(--light);

    &:hover,
    &:focus {
        color: var(--light);
        background-color: var(--red-500);
    }
}

.btn-base-small {
    padding: 10px 20px;
}

.btn-base-lg {
    padding: 10px 40px;
}

.light-blue {
    background-color: #FDFDFF;
}

@mixin flex-grid($width, $gap) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
    gap: $gap;
}

@mixin center-flex ($type: "all") {
    display: flex;

    @if($type =='all') {
        justify-content: center;
        align-items: center;
    }

    @if ($type =="ver") {
        align-items: center;
    }

    @if ($type =="hor") {
        justify-content: center;
    }
}

%list-default {
    list-style: none;
    padding: 0;
    margin: 0;
}

%link-defaults {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

%base-transition {
    transition: .3s ease-in;
}

%color-text {
    color: var(--dark-400);
}

%h2-header {
    font-size: $font-size-30-16;
}

.copy-trade-hero-img {
    position: relative;
    top: 70px;
    z-index: 2;
}



.copy-trade-hero__sub-description {
    display: inline-block;
    padding: 10px 37px;
    font-family: 'Montserrat', sans-serif;
    color: var(--green-500);
    text-transform: uppercase;
    background-color: var(--green-100);
    border-radius: 11px;
    margin-bottom: 19px;
}

.copy-trade-hero__title {
    font-size: $font-size-50-20;
}


.copy-trade-hero__description {
    @extend %color-text;
}

.copy-trade-hero__description,
.copy-trade-hero__title {
    margin-bottom: 23px
}

.copy-trade-advantages {
    padding: 100px 0 70px;
    position: relative;
    color: var(--light);
    background-color: var(--dark-500);
    z-index: 1;
}

.copy-trade-advantage__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    @extend %list-default;
}

.copy-trade-advantage__title {
    margin-bottom: 7px;
}



.copy-trade-success__title {
    @extend %h2-header;
    margin-bottom: 20px;
}


.copy-trade-success__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    @extend %list-default;
}

.copy-trade-success__item {
    padding: 30px;
    background-color: var(--light);
    box-shadow: 20px 30px 70px rgba(158, 158, 158, 0.1);
    border-radius: 13px;
    @extend %base-transition;

    &:hover {
        transform: translateY(-8px);
    }

}

.copy-trade-success__item-title {
    font-size: $font-size-20-14;
    margin-bottom: 5px;
}

.copy-trade-success__text {
    @extend %color-text;
}


.copy-trade-success__img-container {
    flex-direction: column;
    min-height: 152px;
    @include center-flex('all');
    margin-bottom: 30px;
}

.copy-trade-success__item:first-child {
    background-color: transparent;
    box-shadow: none;
    padding: 0;

    &:hover {
        transform: unset;
    }
}


.copy-trade-success__item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    grid-column: span 2;
    max-width: 400px;
    background-color: transparent;
    box-shadow: none;

    &:hover {
        transform: unset;
    }
}

.copy-trade-success__item:last-child .copy-trade-success__item-title {
    font-size: $font-size-16;
    margin-bottom: 22px;
}



.copy-trade-platform__header {
    margin-bottom: 50px;
}


.copy-trade-platform-title {
    color: #F4F4F4;
    font-size: $font-size-80-50;
    text-transform: uppercase;
}

.copy-trade-platform__title {
    @extend %h2-header;
    margin-bottom: 10px;
}

.copy-trade-platform__text {
    @extend %color-text;
}

.copy-trade-platform__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @extend %list-default;
}

.copy-trade-platform__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 90px;
    transition: all .1s ease-in;

    &:hover {
        background-color: var(--light);
        box-shadow: 20px 30px 70px rgba(158, 158, 158, 0.1);
    }
}

.copy-trade-platform__item:first-child,
.copy-trade-platform__item:nth-child(3) {
    border-right: 1px solid rgba(217, 217, 217, 0.2);
}


.copy-trade-platform__item:not(:nth-last-child(-n + 2)) {
    border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}


.copy-trade-platform__item svg {
    margin-bottom: 30px;
}


.copy-trade-platform__item:last-child .copy-trade-platform__item-title {
    font-size: $font-size-50-20;
}

.copy-trade-platform__item:last-child .copy-trade-platform__item-text {
    max-width: 300px;
}

.copy-trade-platform__item-title {
    font-size: $font-size-20-14;
    margin-bottom: 15px;
}

.copy-trade-platform__item-text {
    @extend %color-text;
}

.copy-trade-platform__link {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: none;

    }
}

.copy-trade-platform__item-text {
    margin-bottom: 10px;
}

.copy-trade-platform__link svg {
    @extend %base-transition;
}

.copy-trade-platform__link:hover svg {
    transform: translateX(8px);
}

.copy-trade-platform__link svg {
    margin-bottom: 0;
}


.copy-trade-step__header {
    margin-bottom: 50px;
}

.copy-trade-step__title {
    @extend %h2-header;
    margin-bottom: 10px;
}

.copy-trade-step__description {
    @extend %color-text;
}

.copy-trade-step__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.copy-trade-step__content,
.copy-trade-step__video {
    width: 50%;
}

.copy-trade-step__content {
    padding: 100px 30px;
}


.copy-trade-step__content-title {
    max-width: 350px;
    font-size: $font-size-20-14;
    margin-bottom: 15px;
}

.copy-trade-step__text {
    font-size: $font-size-14;
    line-height: 24px;
}


.owl-carousel .owl-stage-outer {
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 20px 30px 70px rgba(158, 158, 158, 0.1);
}

.copy-trade-benefits {
  position: sticky;
  top:0;
}

.copy-trade-benefits__text {
    max-width: 500px;
    @extend %color-text;
    margin-inline: auto;
}

.copy-trade-benefits__title {
    margin-bottom: 15px;
}

.copy-trade-benefits__header {
    margin-bottom: 50px;
}

.copy-trade-benefits__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    @extend %list-default;

}

.copy-trade-benefits__img-container {
    @include center-flex('all');
    background-color: var(--blue-100);
}

.copy-trade-benefits__item {
    box-shadow: 20px 30px 50px rgba(158, 158, 158, 0.1);
    border-radius: 13px;
    overflow: hidden;
    @extend %base-transition;
}

.copy-trade-benefits__item:not(:last-child) {
    margin-right: 17px;
}

.copy-trade-benefits__img-container,
.copy-trade-benefits__content {
    padding: 30px;
}

.copy-trade-benefits__content {
    background-color: var(--light);
}

.copy-trade-reg {
    position: relative;
    background-color:  rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(50px);
    padding-top: 70px;
}

.copy-trade-reg-title {
    font-size: $font-size-170-50;
    color: #FAFAFA
}


.copy-trade-reg__title {
    @extend %h2-header;
    max-width: 300px;
    margin-bottom: 15px;
}


.copy-trade-reg__form-wrapper {
    position: absolute;
    top: -250px;
    padding: 50px 50px 10px 50px;
    border-radius: 18px;
    background-color: var(--light);
    box-shadow: 22px 18px 70px -20px rgba(160, 160, 160, 0.15);
}

.copy-trade-reg__content {
    padding-top: 150px;
    height: 100vh;
}

.copy-trade-reg__form-field {
    position: relative;
    margin-bottom: 30px;
}

.copy-trade-reg__form-field .iti {
    width: 100%;
    display: block;
}

.copy-trade-reg__input {
    width: 100%;
    border-bottom: 1px solid var(--dark-300);
    border-top: unset;
    border-left: unset;
    border-right: unset;

    &:focus {
        outline: unset;
        border-bottom: 1px solid var(--blue-700);
    }
}

.copy-trade-reg__input:focus+.copy-trade-reg__label {
    top: -20px;
    color: var(--blue-700);
}

.copy-trade-reg__input:focus+.copy-trade-reg__label.checkbox::after {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--dark-300);
}

.copy-trade-reg__form-check {
    display: flex;
    align-items: baseline;
}

.copy-trade-reg__label-checkbox {
    font-size: $font-size-13;
}

.copy-trade-reg__checkbox {
    margin-right: 10px;
}

.copy-trade-reg__form-field .copy-trade-reg__label {
    position: absolute;
    top: 0px;

    display: flex;
    align-items: center;

    font-size: $font-size-13;
    height: 38px;
    pointer-events: none;

    transition: all .2s ease-in;
}

.copy-trade-manage__header {
    position: sticky;
    top: 40%;
}

.copy-trade-manage__description,
.copy-trade-manage__title {
    margin-bottom: 15px;
}


.country-select {
    width: 100%;
}

.owl-theme .owl-dots {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    right: -7%;
    transform: translate(-60%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 50%;
    margin-top: unset;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot span {
    background-color: transparent;
    height: 20px;
}

.owl-theme .owl-dots .owl-dot span {color: var(--dark-300);}
.owl-theme .owl-dots .owl-dot.active span {color: var(--dark-500);}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

 

.owl.prev.disabled,
.owl-next.disabled {
    fill: var(--dark-300);
}


@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../img/flags@2x.png");
    }
}