@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-500);
  background-color: var(--light);
}

:root {
  --light: #fff;
  --blue-100: #f9faff;
  --blue-150: #dcefff;
  --blue-500: #42a5f5;
  --blue-700: #008af9;
  --blue-800: #4a89f2;
  --blue-900: #05529e;
  --red-100: #ffdddc;
  --red-300: #ec5350;
  --red-500: #e53935;
  --green-100: #c8f3e5;
  --green-500: #4cd7ab;
  --green-700: #1effb8;
  --dark-300: #939393;
  --dark-400: #4b4b4b;
  --dark-500: #232323;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

h1,
h2,
h3,
p {
  margin: 0;
}

video,
img {
  max-width: 100%;
  display: block;
  height: auto;
}

.section-padding {
  padding: 70px 0;
}

.text-gradient {
  color: var(--blue-500);
}

.btn-base {
  display: inline-block;
  border-radius: 5px;
  color: var(--light);
  border: 1px solid transparent;
  text-transform: capitalize;
  outline: none;
  box-shadow: none;
}
.btn-base:hover {
  transform: translateY(-8px);
  box-shadow: none;
  outline: none;
}

.btn-blue-white {
  background-color: var(--blue-500);
}
.btn-blue-white:hover, .btn-blue-white:focus {
  color: var(--blue-500);
  background-color: transparent;
  border: 1px solid var(--blue-500);
}

.btn-green-red {
  background-color: var(--green-500);
}
.btn-green-red:hover, .btn-green-red:focus {
  color: var(--light);
  background-color: var(--red-300);
  border: 1px solid var(--red-300);
}

.btn-blue-red {
  background-color: var(--blue-500);
}
.btn-blue-red:hover, .btn-blue-red:focus {
  color: var(--light);
  background-color: var(--red-300);
  border: 1px solid var(--red-300);
}

.btn-light-blue {
  color: var(--blue-500);
  border: 1px solid var(--blue-500);
}
.btn-light-blue:hover, .btn-light-blue:focus {
  color: var(--light);
  background-color: var(--blue-500);
  border: 1px solid var(--blue-500);
}

.btn-red-green {
  color: var(--light);
  background-color: var(--red-500);
}
.btn-red-green:hover, .btn-red-green:focus {
  color: var(--light);
  background-color: var(--green-500);
}

.btn-white-red {
  color: #003763;
  background-color: var(--light);
}
.btn-white-red:hover, .btn-white-red:focus {
  color: var(--light);
  background-color: var(--red-500);
}

.btn-white-green {
  color: var(--blue-500);
  background-color: var(--light);
}
.btn-white-green:hover {
  color: var(--light);
  background-color: var(--green-500);
}

.btn-base-small {
  padding: 10px 20px;
}

.btn-base-lg {
  padding: 10px 40px;
}

.light-blue {
  background-color: #fdfdff;
}

.copy-trade-benefits__list, .copy-trade-platform__list, .copy-trade-success__list, .copy-trade-advantage__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-base {
  text-decoration: none;
}
.btn-base:hover, .btn-base:focus {
  text-decoration: none;
}

.copy-trade-benefits__item, .copy-trade-platform__link svg, .border-hover:before, .copy-trade-platform__item, .copy-trade-success__item, .btn-base {
  transition: 0.3s ease-in;
}

.copy-trade-benefits__content-text, .copy-trade-benefits__text, .copy-trade-step__description, .copy-trade-platform__item-text, .copy-trade-platform__text, .copy-trade-success__text, .copy-trade-hero__description {
  color: var(--dark-400);
}

.copy-trade-reg__title, .copy-trade-step__title, .copy-trade-platform__title, .copy-trade-success__title {
  font-size: clamp(1rem, 0.62rem + 1.62vw, 1.88rem);
}

.copy-trade-hero-img {
  position: relative;
  top: 20px;
  z-index: 2;
}

.copy-trade-hero-icons {
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 3;
}

.copy-trade-hero {
  padding-top: 50px;
  background-color: #fdfdfd;
}

.copy-trade-hero__sub-description {
  display: inline-block;
  padding: 10px 37px;
  font-family: "Montserrat", sans-serif;
  color: var(--green-500);
  text-transform: uppercase;
  background-color: var(--green-100);
  border-radius: 11px;
  margin-bottom: 19px;
}

.copy-trade-hero__title {
  font-size: clamp(1.25rem, 0.44rem + 3.47vw, 3.13rem);
}

.copy-trade-hero__description,
.copy-trade-hero__title {
  margin-bottom: 23px;
}

.copy-trade-advantages {
  padding: 20px 0 10px;
  position: relative;
  color: var(--light);
  background-color: var(--blue-800);
  z-index: 1;
}

.copy-trade-advantage__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.copy-trade-advantage__item {
  padding: 20px;
}

.copy-trade-advantage__item:not(:last-child) {
  border-right: 1px solid rgba(245, 245, 245, 0.2);
}

.copy-trade-advantage__item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
  max-width: 280px;
}

.copy-trade-advantage__title {
  font-size: clamp(1rem, 0.89rem + 0.46vw, 1.25rem);
  margin-bottom: 17px;
}

.copy-trade-advantage__header-title {
  font-size: clamp(3.13rem, 3.13rem + 0vw, 3.13rem);
}

.copy-trade-advantage__header-text {
  text-transform: uppercase;
  font-weight: 700;
}

.copy-trade-success {
  padding: 70px 0 120px 0;
}

.copy-trade-benefits__header,
.copy-trade-step__header,
.copy-trade-platform__header,
.copy-trade-success__header {
  margin-bottom: 50px;
}

.copy-trade-reg__title,
.copy-trade-step__title,
.copy-trade-platform__title,
.copy-trade-success__title,
.copy-trade-success__item-title {
  margin-bottom: 20px;
}

.copy-trade-success__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.copy-trade-success__item {
  background-color: var(--light);
  overflow: hidden;
  border-radius: 13px;
}
.copy-trade-success__item:hover {
  transform: translateY(-8px);
  box-shadow: -30px 30px 70px -20px rgba(9, 19, 69, 0.1);
}

.copy-trade-success__item-title {
  font-size: clamp(0.88rem, 0.71rem + 0.69vw, 1.25rem);
}

.copy-trade-success__img-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  background-color: var(--blue-800);
}

.copy-trade-success__body {
  padding: 30px;
}

.web-platform-img {
  position: relative;
  top: -100px;
}

.platform-icons {
  position: absolute;
  top: -70px;
  left: 0;
  z-index: 3;
}

.copy-trade-platform {
  width: 100%;
  height: 100%;
}

.copy-trade-platform-bg {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 80%;
  background-color: var(--blue-800);
  z-index: 1;
}

.copy-trade-platform__text {
  margin-bottom: 15px;
}

.copy-trade-platform__list-wrapper {
  background-color: var(--blue-800);
}

.copy-trade-platform__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
}

.copy-trade-platform__item {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 76px;
  box-shadow: 20px 30px 70px -10px rgba(9, 19, 69, 0.1);
  border-radius: 10px;
  background-color: var(--light);
  z-index: 2;
}
.copy-trade-platform__item:hover {
  transform: translateY(-10px);
  background-color: var(--light);
}

.copy-trade-platform__item:last-child {
  background-color: transparent;
  box-shadow: unset;
}
.copy-trade-platform__item:last-child:hover {
  transform: unset;
}

.copy-trade-platform__item:last-child,
.copy-trade-platform__item:last-child .copy-trade-platform__item-text {
  color: var(--light);
}

.copy-trade-platform-list {
  position: relative;
  width: 100%;
  height: 100%;
}

.border-hover:before {
  position: absolute;
  display: block;
  content: "";
  top: 0px;
  left: 0px;
  width: 0%;
  height: 4px;
}

.border-hover:hover:before {
  width: 100%;
}

.border-hover.border-orange:hover:before {
  background-color: #fdb74e;
}

.border-hover.border-purple:hover:before {
  background-color: #9747ff;
}

.border-hover.border-blue:hover:before {
  background-color: var(--blue-500);
}

.copy-trade-platform__body {
  margin-top: 30px;
}

.copy-trade-platform__item svg {
  margin-bottom: 30px;
}

.copy-trade-platform__item:last-child .copy-trade-platform__item-title {
  font-size: clamp(1.25rem, 0.44rem + 3.47vw, 3.13rem);
}

.copy-trade-platform__item:last-child .copy-trade-platform__item-text {
  max-width: 300px;
}

.copy-trade-platform__item-title {
  font-size: clamp(0.88rem, 0.71rem + 0.69vw, 1.25rem);
  margin-bottom: 15px;
}

.copy-trade-platform__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.copy-trade-platform__link:focus, .copy-trade-platform__link:hover {
  text-decoration: none;
}

.copy-trade-platform__item-text {
  margin-bottom: 10px;
}

.copy-trade-platform__link:hover svg {
  transform: translateX(8px);
}

.copy-trade-platform__link svg {
  margin-bottom: 0;
}

.copy-trade-step {
  position: relative;
  background: rgb(253, 253, 255);
  background: linear-gradient(0deg, rgb(253, 253, 255) 0%, rgb(253, 253, 255) 0%, rgb(253, 253, 255) 50%, rgb(253, 253, 255) 72%, rgb(255, 255, 255) 72%);
}

.copy-trade-step-slider {
  position: relative;
  z-index: 3;
}

.copy-trade-step__slide {
  display: flex;
  background-color: var(--light);
}

.copy-trade-step__content,
.copy-trade-step__video {
  width: 50%;
}

.copy-trade-step__content {
  padding: 140px 30px;
}

.copy-trade-step__content-title {
  max-width: 350px;
  font-size: clamp(0.88rem, 0.71rem + 0.69vw, 1.25rem);
  margin-bottom: 15px;
}

.copy-trade-step__text {
  font-size: 0.875rem;
  line-height: 24px;
}

.owl-carousel .owl-stage-outer {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 20px 49px 100px -10px rgba(9, 19, 69, 0.08);
}

.copy-trade-benefits {
  position: -webkit-sticky;
  position: sticky;
  top: -100px;
  background-color: var(--light);
}

.copy-trade-benefits__text {
  max-width: 960px;
  margin-inline: auto;
}

.copy-trade-benefits__title {
  margin-bottom: 15px;
}

.copy-trade-benefits__list {
  display: grid;
  grid-template-areas: "img img product-1 product-2" "img img product-3 product-4 ";
  gap: 17px;
  margin-bottom: 50px;
}

.copy-trade-benefits__item:first-child:hover {
  transform: unset;
  z-index: unset;
  box-shadow: unset;
}

.copy-trade-benefits__item.img {
  grid-area: img;
}

.copy-trade-benefits__item.product-1 {
  grid-area: product-1;
}

.copy-trade-benefits__item.product-2 {
  grid-area: product-2;
}

.copy-trade-benefits__item.product-3 {
  grid-area: product-3;
}

.copy-trade-benefits__item.product-4 {
  grid-area: product-4;
}

.copy-trade-benefits__item {
  position: relative;
  border-radius: 13px;
  overflow: hidden;
  background-color: var(--light);
  z-index: 1;
}
.copy-trade-benefits__item:hover {
  transform: scale(1.03);
  z-index: 2;
  box-shadow: -30px 30px 70px -10px rgba(9, 19, 69, 0.1);
}

.copy-trade-benefits__img-container {
  width: 100%;
  height: 150px;
}

.copy-trade-benefits__item:first-child img,
.copy-trade-benefits__img-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.copy-trade-benefits__content-title {
  font-size: 1rem;
  margin-bottom: 12px;
}

.copy-trade-benefits__content {
  padding: 20px;
}

.copy-trade-benefits__content-text {
  font-size: 0.875rem;
  line-height: 24px;
}

.copy-trade-reg {
  position: relative;
  background-color: var(--light);
  padding-top: 70px;
}

.copy-trade-reg-title {
  font-size: clamp(3.13rem, -0.13rem + 13.87vw, 10.63rem);
  color: #fafafa;
}

.copy-trade-reg__title {
  max-width: 300px;
}

.copy-trade-reg__form-wrapper {
  position: absolute;
  top: -250px;
  padding: 50px 50px 10px 50px;
  border-radius: 18px;
  background-color: var(--light);
  box-shadow: -3px 28px 100px -20px rgba(9, 19, 69, 0.08);
}

.copy-trade-reg__content {
  padding-top: 150px;
  height: 100vh;
}

.copy-trade-reg__form-field {
  position: relative;
  margin-bottom: 30px;
}

.copy-trade-reg__form-field .iti {
  width: 100%;
  display: block;
}

.copy-trade-reg__input {
  width: 100%;
  border-bottom: 1px solid var(--dark-300);
  border-top: unset;
  border-left: unset;
  border-right: unset;
}
.copy-trade-reg__input:focus {
  outline: unset;
  border-bottom: 1px solid var(--blue-700);
}

.copy-trade-reg__input:focus + .copy-trade-reg__label {
  top: -20px;
  color: var(--blue-700);
}

.copy-trade-reg__input:focus + .copy-trade-reg__label.checkbox::after {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: var(--dark-300);
}

.copy-trade-reg__form-check {
  display: flex;
  align-items: baseline;
}

.copy-trade-reg__label-checkbox {
  font-size: 0.813rem;
}

.copy-trade-reg__checkbox {
  margin-right: 10px;
}

.copy-trade-reg__form-field .copy-trade-reg__label {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  font-size: 0.813rem;
  height: 38px;
  pointer-events: none;
  transition: all 0.2s ease-in;
}

.copy-trade-manage {
  position: relative;
  z-index: 1;
  padding-top: 200px;
}

.manage-icons {
  position: absolute;
  top: -30px;
  left: 10%;
  z-index: 3;
}

.row-padding {
  padding-bottom: 50px;
}

.copy-trade-manage-img {
  position: absolute;
  bottom: 0;
  right: 70px;
  background-color: var(--blue-800);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 375px;
  height: 900px;
  z-index: 1;
}

.copy-trade-manage-title {
  font-size: clamp(4.38rem, 3.94rem + 2.17vw, 5.63rem);
  text-transform: uppercase;
  background: linear-gradient(89.8deg, rgba(255, 255, 255, 0.3) -10.96%, rgba(255, 255, 255, 0) 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: rotate(-90deg);
  margin-bottom: 250px;
}

.copy-trade-manage-phones {
  position: relative;
  z-index: 2;
}

.copy-trade-manage__description,
.copy-trade-manage__title {
  margin-bottom: 15px;
}

.copy-trade-banner {
  position: relative;
}

.copy-trade-banner-wrapper {
  color: var(--light);
  background: url("../img/banner-bg.png"), var(--blue-800);
  background-position: top -270px center;
  background-repeat: no-repeat;
  box-shadow: 20px 50px 100px -20px rgba(9, 19, 69, 0.1);
  border-radius: 25px;
}

.copy-trade-banner__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copy-trade-banner__title {
  font-size: clamp(1.25rem, 0.44rem + 3.47vw, 3.13rem);
  text-transform: uppercase;
}

.copy-trade-banner__title,
.copy-trade-banner__description {
  margin-bottom: 27px;
}

.copy-trade-banner__description {
  font-size: clamp(1rem, 0.62rem + 1.62vw, 1.88rem);
  font-weight: 300;
}

.country-select {
  width: 100%;
}

.owl-theme .owl-dots {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  right: -7%;
  transform: translate(-60%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  margin-top: unset;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot span {
  background-color: transparent;
  height: 20px;
}

.owl-theme .owl-dots .owl-dot span {
  color: var(--dark-300);
}

.owl-theme .owl-dots .owl-dot.active span {
  color: var(--dark-500);
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}

.owl.prev.disabled,
.owl-next.disabled {
  fill: var(--dark-300);
}

.splide__slide-text {
  color: var(--green-500);
  text-transform: uppercase;
}

.copy-trade-news {
  background-color: #1e3357;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../img/flags@2x.png");
  }
}
@media (max-width: 1198px) {
  .copy-trade-success__img-container,
.copy-trade-platform__item {
    padding: 50px;
  }
  .copy-trade-hero__title {
    font-size: 46px;
  }
  .copy-trade-step__content {
    padding: 120px 30px 0;
  }
  .copy-trade-success__item-title {
    font-size: 1rem;
  }
  .copy-trade-success__list {
    gap: 17px;
  }
  .copy-trade-platform__item {
    justify-content: unset;
  }
  .copy-trade-success__title,
.copy-trade-platform__title,
.copy-trade-step__title,
.copy-trade-benefits__title,
.copy-trade-manage__title {
    font-size: 24px;
  }
  .copy-trade-step__slider.owl-theme .owl-nav {
    height: 60%;
    right: -8%;
  }
  .copy-trade-step__slider.owl-theme .owl-dots {
    right: -5.6%;
  }
  .owl-carousel .owl-stage-outer {
    border-radius: unset;
  }
  .manage-icons {
    top: -50px;
    left: 0;
  }
  .copy-trade-hero-icons {
    left: 0;
  }
}
@media (max-width: 991.98px) {
  .copy-trade-advantage__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .copy-trade-hero-icons {
    left: unset;
    right: 50px;
  }
  .copy-trade-advantage__item:last-child {
    border-right: 1px solid rgba(245, 245, 245, 0.2);
  }
  .copy-trade-advantage__item:nth-child(2) {
    border-right: unset;
  }
  .copy-trade-advantage__item:nth-last-child(n+2) {
    border-bottom: 1px solid rgba(245, 245, 245, 0.2);
  }
  .copy-trade-hero__description {
    font-size: 0.875rem;
  }
  .copy-trade-hero__title {
    font-size: 34px;
  }
  .copy-trade-hero {
    padding-top: unset;
  }
  .copy-trade-success__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .copy-trade-platform__list {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-inline: auto;
  }
  .copy-trade-platform__item:nth-child(3) {
    order: 2;
  }
  .copy-trade-platform__item:last-child {
    order: 1;
  }
  .copy-trade-step__slide {
    flex-direction: column;
    height: 100%;
  }
  .copy-trade-step__video {
    flex-grow: 1;
  }
  .copy-trade-step__content,
.copy-trade-step__video {
    width: 100%;
  }
  .copy-trade-step__content {
    height: 100%;
  }
  .owl-carousel .owl-stage-outer {
    background-color: var(--light);
  }
  .owl-carousel .owl-stage-outer {
    border-radius: 16px;
  }
  .copy-trade-step__content {
    padding: 50px;
  }
  .copy-trade-step__slider.owl-theme .owl-nav {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    flex-direction: unset;
    align-items: center;
    height: unset;
    max-width: 300px;
    margin-inline: auto;
  }
  .copy-trade-step__slider.owl-theme .owl-dots {
    top: unset;
    bottom: 22px;
    left: 45%;
    right: unset;
    flex-direction: unset;
    transform: unset;
  }
  .slider-arrow.arrow-down,
.slider-arrow.arrow-up {
    transform: rotate(270deg);
  }
  .copy-trade-manage-img {
    max-width: 100%;
  }
  .copy-trade-manage {
    padding-top: 100px;
  }
  .copy-trade-manage-img {
    background-color: transparent;
  }
  .copy-trade-step-bg {
    position: absolute;
    bottom: 23.8%;
    left: 0;
    background-color: var(--blue-800);
    width: 100%;
    height: 50%;
  }
  .slider-arrow > svg {
    fill: var(--light);
  }
  .owl-theme .owl-dots .owl-dot span {
    color: var(--light);
  }
  .owl-theme .owl-dots .owl-dot.active span {
    color: var(--green-500);
  }
  .copy-trade-manage-title {
    transform: unset;
    margin-bottom: 0;
  }
  .copy-trade-manage-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .copy-trade-benefits {
    top: -1000px;
  }
  .copy-trade-befits-img-container {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
  .copy-trade-befits-img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .copy-trade-reg__form-wrapper {
    top: -400px;
  }
  .manage-icons {
    top: -50px;
    left: 18%;
  }
}
@media (max-width: 767.98px) {
  .copy-trade-hero-icons {
    left: unset;
    right: 150px;
  }
  .copy-trade-advantage__list {
    display: flex;
    flex-direction: column;
  }
  .copy-trade-advantage__item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .copy-trade-advantage__item-header {
    margin-bottom: 0;
    margin-right: 30px;
    max-width: 210px;
    flex: 1;
  }
  .copy-trade-advantage__body {
    flex: 1;
  }
  .copy-trade-advantage__item:last-child,
.copy-trade-advantage__item:first-child {
    border-right: unset;
  }
  .copy-trade-advantage__item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .copy-trade-success__list {
    display: flex;
    flex-direction: column;
  }
  .copy-trade-success__item {
    display: flex;
  }
  .copy-trade-success__img-container {
    flex: 1;
  }
  .copy-trade-success__body {
    flex: 2;
  }
  .copy-trade-success__img-container,
.copy-trade-success__body {
    padding: 20px;
  }
  .copy-trade-hero {
    padding-bottom: 70px;
  }
  .copy-trade-hero__header {
    margin-top: 50px;
  }
  .manage-icons {
    top: -50px;
    left: 0;
  }
  .splide__slide-text {
    font-size: 0.875rem;
  }
  .copy-trade-advantage__header-title {
    font-size: 30px;
  }
}
@media (max-width: 575.98px) {
  .copy-trade-platform__list {
    gap: unset;
  }
  .copy-trade-platform__item:not(:last-child) {
    margin-bottom: 17px;
  }
  .copy-trade-hero-icons {
    left: 0;
    width: 100%;
  }
  .copy-trade-advantage__item {
    flex-direction: column;
  }
  .copy-trade-step__content-title,
.copy-trade-platform__item-title {
    font-size: 1rem;
  }
  .copy-trade-hero {
    padding-bottom: 50px;
  }
  .copy-trade-hero-img {
    top: 0;
  }
  .section-padding {
    padding: 50px 0;
  }
  .manage-icons {
    left: 0;
    top: -100px;
  }
  .copy-trade-hero__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .btn-base-small,
.btn-base-lg {
    padding: 10px 20px;
  }
  .copy-trade-step__content {
    padding: 30px;
  }
  .copy-trade-success__img-container,
.copy-trade-platform__item {
    padding: 15px;
  }
  .copy-trade-success__item,
.copy-trade-success__list {
    flex-direction: column;
  }
  .copy-trade-advantage__title,
.copy-trade-success__title,
.copy-trade-platform__title,
.copy-trade-step__title,
.copy-trade-benefits__title,
.copy-trade-manage__title {
    font-size: 1rem;
  }
  .copy-trade-advantage__text,
.copy-trade-manage__description,
.copy-trade-benefits__content-text,
.copy-trade-benefits__text,
.copy-trade-step__description,
.copy-trade-platform__item-text,
.copy-trade-platform__text,
.copy-trade-success__text,
.copy-trade-hero__description,
.copy-trade-platform__text {
    font-size: 0.813rem;
    line-height: 24px;
  }
  .copy-trade-step__text {
    font-size: 12px;
  }
  .copy-trade-benefits__list,
.copy-trade-advantage__item-header {
    display: flex;
    flex-direction: column;
  }
  .copy-trade-advantage__body {
    flex: 2;
  }
  .copy-trade-manage-img {
    height: 400px;
    right: unset;
    left: 50%;
    bottom: -200px;
    transform: translate(-50%, -50%);
  }
  .copy-trade-manage-title {
    font-size: 50px;
    transform: rotate(-90deg);
  }
  .copy-trade-step__slider.owl-theme .owl-dots {
    left: 38%;
  }
  .copy-trade-platform__item:nth-child(-n+2) img {
    width: 100px;
  }
  .copy-trade-banner__title {
    margin-bottom: 7px;
  }
  .copy-trade-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 560px;
    background-position: center;
    min-height: 400px;
  }
  .copy-trade-benefits__list {
    position: relative;
    top: -100px;
  }
  .copy-trade-manage {
    margin-top: 30px;
  }
  .copy-trade-banner__title {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */